In [6]:
def is_adjacent(matrix,node1,node2):
    return bool(matrix[node1][node2])
print(is_adjacent([[0,1,0,0],[1,0,1,1],[0,1,0,1],[0,1,1,0]],0,0))

False

In [5]:
def is_adjacent(matrix, node1, node2):
    return bool(matrix[node1][node2])

print (is_adjacent([
  [ 0, 1, 0, 0 ],
  [ 1, 0, 1, 1 ],
    
  [ 0, 1, 0, 1 ],
  [ 0, 1, 1, 0 ]
    
], 0, 1))

True

In [63]:
def is_column(row):
    row=[[1,2,3,9],[2,3,4,1],[3,4,1,2],[4,1,2,3]]
    for v in range(0,len(row)):
        print(row[0:4:2][:4:]) 
        break;
is_column(1)

[[1, 2, 3, 9], [3, 4, 1, 2]]

In [64]:
row=[[1,2,3,9],[2,3,4,1],[3,4,1,2],[4,1,2,3]]
for v in range(0,len(row)):
    print(row[0:4:2][:4:])
    break;

[[1, 2, 3, 9], [3, 4, 1, 2]]

In [12]:
def sample(row):
    for i in range(0,(row+1)):
        print(" * "*i)
sample(10)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *

In [66]:
def sample(row):
    for i in range((row+1)-1,-1,-1):
        print("*"*i)
sample(4)

****
***
**
*

In [69]:
sample="i wants to reason ,why do you like this activities,can i know the reason.iam here...."
for i in range(0,len(sample)):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84

In [1]:
sample="i wants to reasonz ,why do you like this activities,can i know the reason.iam here...."
d={}
for j in sample:
    if j in d:
        d[j]+=1
    else:
        d[j]=1
print(d)

{'i': 8, ' ': 14, 'w': 3, 'a': 6, 'n': 5, 't': 6, 's': 5, 'o': 6, 'r': 3, 'e': 7, 'z': 1, ',': 2, 'h': 4, 'y': 2, 'd': 1, 'u': 1, 'l': 1, 'k': 2, 'c': 2, 'v': 1, '.': 5, 'm': 1}

In [81]:
def sample(x,y,z):
    x,y=y,x
    n=y=x;
    return n/3
sample(10,20,30)

6.666666666666667

In [80]:
print(80/3)

26.666666666666668

In [1]:
a=10
b=20
c=40
n=a+b+c
print(n/3)

23.333333333333332

In [10]:
import random as r
val=[1,2,3,4,5]
while True:
    #random=int(input("enter a number:"))
    if val==1:
        print("the number is even:" )
    else:
        print("the given number is odd:")
        break;
        
    break;

the given number is odd:

In [21]:
def add(a,b):
    return a+b
add(3,4)

7

In [22]:
add.__name__

'add'

In [23]:
add.__name__

'add'

In [24]:
func=lambda x:x
print(func(2))

2

In [25]:
func=lambda x,y,z:x*x-y+y*z
func(2,3,5)

16

In [26]:
(lambda x:(x+3)*5/2)(3)

15.0

In [39]:
def fun(x,y):
    return x+x*x-x,y*y
fun(4,5)

(16, 25)

In [40]:
fun=lambda x:x+x*x-x
fun(5)

25

# common function that use lambdas
     1.map()
     2.filtered()
     3.map()
        1.map()
            *A standered function that accepts atleast two arguments,a function and iterable
            *runs the lambda for each value in the iterable and returns a map object which can be converted into                    another data struction.

In [41]:
 nums=[1,2,3,4,5]
doubles=map(lambda x:x*2,nums)

In [42]:
doubles

In [43]:
list(doubles)

[2, 4, 6, 8, 10]

In [14]:
 nums=[1,2,3,4,5]
doubles=map(lambda x:x**2,nums)

In [15]:
for n in doubles:
    print(n)

1
4
9
16
25

In [22]:
def fun(num):
    double=map(lambda x:x**2,num)
    for n in double:
        print(n)
fun([1,2,3,4,5])

1
4
9
16
25

In [55]:
l=[0,1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17,18,19,20]
for i,j in  zip(range(0,20,2),range(-20,-11,2)):
    print(l[i],l[j])#,end=" ")

0 0
2 2
4 4
6 6
8 8

In [51]:
l=[0,1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17,18,19,20]
for i,j in zip(range(0,20,2),range(-10,0)):
    print(l[i],l[j])

0 10
2 11
4 12
6 14
8 15
10 16
12 17
15 18
17 19
19 20

# list comprehensions 
     # A list comprehension is a syntactic construct available programming laguage
     # For creating a list based on existing tags
     #comprehension are not only belonging of list ,we use dictionary and list ,sets. not in tuple becuasetuple is immutable.

###syntax 
###[item for item in iterable]

In [23]:
nums=[1,2,2,3,5,7,8,10]
[i*15 for i in nums]# nums variables are alternaive to satisfy the i*15

[15, 30, 30, 45, 75, 105, 120, 150]

In [24]:
[i+30 for i in nums if i%2==0]# it automatic to take the nums list ,first it satisfy the for loop after that check the
                               #condition i%2==0 it satisfy then it execute the i+30 in list each element sastify.

[32, 32, 38, 40]

In [25]:
[i+15 if i*2==2 else i/2 for i in nums]# here we use the if and else condision first we check the for loop ofter that 
                                    #we go if and else part if condition satisfy then then it will store after that get
                                    #o/p if conndition fale we will go else part.

[16, 1.0, 1.0, 1.5, 2.5, 3.5, 4.0, 5.0]

In [26]:
sample=[1,23,24,25,26,27]# here we use for loop,here we write code high,but list comprehension we use single code line
s=[]
for i in sample:
    i=i**3
    s.append(i)
print(s)
print(i)

[1, 12167, 13824, 15625, 17576, 19683]
19683

In [59]:
samples=[23,24+,25,26,27]#samples=[98,97,96,95,94,93]
[i**3 for i in samples]#[i**3 for i in sample]

[12167, 13824, 15625, 17576, 19683]

In [61]:
name="hiipadhuAchandhu"
[char for char in name]

['h',
 'i',
 'i',
 'p',
 'a',
 'd',
 'h',
 'u',
 'A',
 'c',
 'h',
 'a',
 'n',
 'd',
 'h',
 'u']

In [62]:
name="hiipadhuchandhu"
[char.upper() for char in name]    #[char.lower() for char in name]

['H', 'I', 'I', 'P', 'A', 'D', 'H', 'U', 'C', 'H', 'A', 'N', 'D', 'H', 'U']

In [7]:
num=[45,46,47,48]
["index"+str(n) for n in num]

['index45', 'index46', 'index47', 'index48']

In [8]:
nums=[1,2,3,4,5,6]
#evens=[n for n in nums if i%2==0]    #here don't use "n" 
evens=[i for i in nums if i%2==0]

In [9]:
print(evens)

[2, 4, 6]

In [10]:
njk=[1,2,3,4,5,6]
[i for i in njk if i%2==0]   #here we use only "i"

[2, 4, 6]

In [11]:
text=[78,36,24,9]
[i for i in text if i%2==0]

[78, 36, 24]

In [12]:
mystr="i want to need some help. to help the others"
' '.join(chars for chars in mystr if chars not in ".waeiou ")#here the print only consonants in string

'n t t n d s m h l p t h l p t h t h r s'

In [2]:
string="data Science"
str='_'.join(string)
print(str)

d_a_t_a_ _S_c_i_e_n_c_e

In [3]:
mystr="i want to need some help. to help the others"
[char for char in mystr if char not in "aeiou"]# here we consider the space also.

#here print only consonants print in list

[' ',
 'w',
 'n',
 't',
 ' ',
 't',
 ' ',
 'n',
 'd',
 ' ',
 's',
 'm',
 ' ',
 'h',
 'l',
 'p',
 '.',
 ' ',
 't',
 ' ',
 'h',
 'l',
 'p',
 ' ',
 't',
 'h',
 ' ',
 't',
 'h',
 'r',
 's']

In [5]:
text="heyyy youwhere are you "
[char for char in text if char  in "aeiou"]

['e', 'o', 'u', 'e', 'e', 'a', 'e', 'o', 'u']

# nested lists
#list can contain any kind of element,even other lists

In [6]:
nestedList=[[1,2],[2,3],[3,4]]

In [7]:
nestedList

[[1, 2], [2, 3], [3, 4]]

# accessing nested lists

In [2]:
nestedlist=[[1,2,3],[3,4,5],[5,6,7],[7,8,9]]#0th one is [1,2,3],2nd 0ne is[3,4,5]..so on

In [3]:
nestedlist[1]# index of one is [3,4,5]

[3, 4, 5]

In [4]:
nestedlist[2][2]# index of 2 is [5,6,7] its also 0th element is 5,1st elm is 6,2nd is 7

7

In [5]:
nestedlist=[[45,54],[0,2],[67,78],[78,45]]
           # 0[o,1]  1[0,1]   2[0,1]    3[0,1] forward direction
           # -4[[0,1]] -3[0,1] -2[0,1] -1[0,1]

In [6]:
nestedlist[-2][-0]# here reverse is started in -1.

67

In [7]:
nestedlist[-1][1]  # the nested list execute more times

45

In [8]:
nestedlist[1]

[0, 2]

In [9]:
nestedlist[0]

[45, 54]

In [10]:
nestedlist[-1]

[78, 45]

In [11]:
# here printitng values in nested list
for list in nestedlist:
    for item in list:
        print(item)

45
54
0
2
67
78
78
45

In [14]:
for i in nestedlist:
    print(nestedlist[:3])#here "starting value:end value but not end value execute i.e n-1"
    break;

[[45, 54], [0, 2], [67, 78]]

In [15]:
for i in nestedlist:
    print(nestedlist[-1:4:2][0:2:1])#here "starting value:end value:difference"
    break;                  # nestedlist=[[45,54],[0,2],[67,78],[78,45]]

[[78, 45]]

In [16]:
lists=[[1,2,3,4,5],[0,2,3,23,23],[45,26,24,13,12],[3,4,5,6,7],[7,6,8,45,67],[23,4,5,67,8]]

In [21]:
#[[ele for ele in list]for list in lists]
[i for i in lists]

[[1, 2, 3, 4, 5],
 [0, 2, 3, 23, 23],
 [45, 26, 24, 13, 12],
 [3, 4, 5, 6, 7],
 [7, 6, 8, 45, 67],
 [23, 4, 5, 67, 8]]

In [22]:
bord=[[num for num in range(1,4)]for value in range(1,4)]

In [23]:
bord

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [24]:
[[i for i in range(1,4)]for num in range(1,8)]#here 1 to 8(i.e n-1=8-1) iteration are.first check the outer for loop
                                          #first we take one that one going to inner for loop("i for in range(1,4)")
                                        #that execute 1,2,3.after thAT we go to range(1,8)we take 2 ...... this process
                                        #execute until the range is satisfy("(1,8)")

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [25]:
[["x" if num%2==0 else "0"for num in range(1,5)]for value in range(1,3)] #TIK TOK TOE GAME 
#for value in range(1,3) - this only iteration,i want only two inner iterations (3-1)
#for num in range(1,5)-here value store,that one value  is even then execute "x" otherwise "0"

[['0', 'x', '0', 'x'], ['0', 'x', '0', 'x']]

In [26]:
["@" for i in range(0,2)]#normal list

['@', '@']

In [27]:
[["*"]for i in range(1,5)]#nested list

[['*'], ['*'], ['*'], ['*']]

In [ ]:
[[["siri"],["sri"]] for i in range(1)]

In [ ]:
[["*" for i in [1,2,3]]for i in range(1,5)]

In [29]:
[["&"for i in range(3)]for i in range(5,8)]#here we can take also range(1,4)or range(5,8),it only iterations like[][][]

[['&', '&', '&'], ['&', '&', '&'], ['&', '&', '&']]

In [28]:
set1=set(["python","machinlerning programming","statistics" ])#here set is the keyword.To print dictionary formate only
print(set1)                                                  # set is used to tuple in list i.e set([  ])={ }

{'machinlerning programming', 'python', 'statistics'}

In [1]:
dic1={1:"monday",2:"tuesday",3:"wednesday",4:"thursday",5:"friday",6:"saturday"}
print(dic1)

{1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday', 5: 'friday', 6: 'saturday'}

### # #print("sales%10s,total%10.3f"%("1332",4.34543))#print style formate of data
 ### #%10s>1332

In [2]:
t=(10,20,30,40,50,60)
print(t)
count=0
for i in t:
    print("t[%d]=%d"%(count,i))
    count=count+1
    # print("t[%d]=%d"%(count,i))

(10, 20, 30, 40, 50, 60)
t[0]=10
t[1]=20
t[2]=30
t[3]=40
t[4]=50
t[5]=60

In [6]:
text={"name:":["siri","sri","shruthi"],"grade:":[40,50,60],"year:":[1999,2000,1998]}
print(text)
#for name in text:
 #   print(name[1:2:2])
for i in text:
    print(i)

{'name:': ['siri', 'sri', 'shruthi'], 'grade:': [40, 50, 60], 'year:': [1999, 2000, 1998]}
name:
grade:
year:

In [5]:
#second question example
s=['a','b','c','d']
l=[1,2,3,4]
#print({print("d[%s]:%d"%(each,one)for each,one in zip(s,l))})
print("============================================================")
print({"d[%s]:%d"%(each,one)for each,one in zip(s,l)})

============================================================
{'d[a]:1', 'd[b]:2', 'd[d]:4', 'd[c]:3'}

In [7]:
#second question example
s=['1','2','3','4']
l=[45,85,43,89]
print({"d[%s]:%d"%(each,one)for each,one in zip(s,l)})

{'d[4]:89', 'd[2]:85', 'd[1]:45', 'd[3]:43'}

In [8]:
print(print)

<built-in function print>

In [9]:
mysite=[1,2,3,4,5]
print("a list:%s"%mysite)

a list:[1, 2, 3, 4, 5]

In [10]:
name="shruthi"
print("hello,%s!"%name)

hello,shruthi!

In [11]:
name="shirisha"
print("are u %s!"%name)

are u shirisha!

In [12]:
name="python"
age=22
print("%s is %d year old."%(name,age))

python is 22 year old.

In [13]:
text="python started in 1991,"
sam="john"
age=78
print("%s hey %s was %d old."%(text,sam,age))

python started in 1991, hey john was 78 old.

In [13]:
data=(["john","doe"])
format_string="hello"
print(format_string %data)  #error,not all arguements converted into string;tuple is immutable object so cannot be 
print(globals())                            #convertable into string value

hello
{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', 'name="shruthi"\nprint("hello,%s!"%name)', 'name="shirisha"\nprint("are u %s!"%name)', 'name="shruthi"\nprint("hello,%s!"%name)', 'name="shirisha"\nprint("are u %s!"%name)', 'name="python"\nage=22\nprint("%s is %d year old."%(name,age))', 'text="python started in 1991"\nsam="hiii john"\nage=78\nprint("%s it %s was %d oid year."%(text,sam,age))', 'data=(["john","doe"])\nformat_string="hello"\nprint(format_string %data)  #error,not all arguements converted into string;tuple is immutable object so cannot be \nprint(globals())                            #convertable into string value', 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d oid year."%(text,sam,age))', 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d old year."%(text,sam,age))', 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d old ."%(text,sam,age))', 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d old."%(text,sam,age))', 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d old."%(text,sam,age))', 'data=(["john","doe"])\nformat_string="hello"\nprint(format_string %data)  #error,not all arguements converted into string;tuple is immutable object so cannot be \nprint(globals())                            #convertable into string value'], '_oh': {}, '_dh': ['C:\\Users\\Admin\\sirisha'], 'In': ['', 'name="shruthi"\nprint("hello,%s!"%name)', 'name="shirisha"\nprint("are u %s!"%name)', 'name="shruthi"\nprint("hello,%s!"%name)', 'name="shirisha"\nprint("are u %s!"%name)', 'name="python"\nage=22\nprint("%s is %d year old."%(name,age))', 'text="python started in 1991"\nsam="hiii john"\nage=78\nprint("%s it %s was %d oid year."%(text,sam,age))', 'data=(["john","doe"])\nformat_string="hello"\nprint(format_string %data)  #error,not all arguements converted into string;tuple is immutable object so cannot be \nprint(globals())                            #convertable into string value', 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d oid year."%(text,sam,age))', 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d old year."%(text,sam,age))', 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d old ."%(text,sam,age))', 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d old."%(text,sam,age))', 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d old."%(text,sam,age))', 'data=(["john","doe"])\nformat_string="hello"\nprint(format_string %data)  #error,not all arguements converted into string;tuple is immutable object so cannot be \nprint(globals())                            #convertable into string value'], 'Out': {}, 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000002018C4B7580>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x000002018C5177C0>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x000002018C5177C0>, '_': '', '__': '', '___': '', '_i': 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d old."%(text,sam,age))', '_ii': 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d old."%(text,sam,age))', '_iii': 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d old ."%(text,sam,age))', '_i1': 'name="shruthi"\nprint("hello,%s!"%name)', 'name': 'python', '_i2': 'name="shirisha"\nprint("are u %s!"%name)', '_i3': 'name="shruthi"\nprint("hello,%s!"%name)', '_i4': 'name="shirisha"\nprint("are u %s!"%name)', '_i5': 'name="python"\nage=22\nprint("%s is %d year old."%(name,age))', 'age': 78, '_i6': 'text="python started in 1991"\nsam="hiii john"\nage=78\nprint("%s it %s was %d oid year."%(text,sam,age))', 'text': 'python started in 1991,', 'sam': 'john', '_i7': 'data=(["john","doe"])\nformat_string="hello"\nprint(format_string %data)  #error,not all arguements converted into string;tuple is immutable object so cannot be \nprint(globals())                            #convertable into string value', 'data': ['john', 'doe'], 'format_string': 'hello', '_i8': 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d oid year."%(text,sam,age))', '_i9': 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d old year."%(text,sam,age))', '_i10': 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d old ."%(text,sam,age))', '_i11': 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d old."%(text,sam,age))', '_i12': 'text="python started in 1991,"\nsam="john"\nage=78\nprint("%s hey %s was %d old."%(text,sam,age))', '_i13': 'data=(["john","doe"])\nformat_string="hello"\nprint(format_string %data)  #error,not all arguements converted into string;tuple is immutable object so cannot be \nprint(globals())                            #convertable into string value'}

 # dictionaries

In [14]:
person={"name":"siri",
       "age":22,
       "ismarried":"no",
       "height":153}

In [15]:
person

{'name': 'siri', 'age': 22, 'ismarried': 'no', 'height': 153}

In [16]:
print(type(person))#type() is define to dictionary,it also approach to dict

<class 'dict'>

In [17]:
person=dict(name="sri",age=25,address='india',ismarried=False,height=5.7,sallary=1200)

In [26]:
person

{'name': 'sri',
 'age': 25,
 'address': 'india',
 'ismarried': False,
 'height': 5.7,
 'sallary': 1200}

In [18]:
person['name']

'sri'

In [19]:
person['height']

5.7

In [20]:
person['sallary']

1200

In [21]:
person.values()

dict_values(['sri', 25, 'india', False, 5.7, 1200])

In [22]:
print(type(person.values()))

<class 'dict_values'>

In [23]:
person.keys()

dict_keys(['name', 'age', 'address', 'ismarried', 'height', 'sallary'])

In [33]:
person.items()#list of tuple,the key pair values are inform of tuple.the tuples are in list

dict_items([('name', 'sri'), ('age', 25), ('address', 'india'), ('ismarried', False), ('height', 5.7), ('sallary', 1200)])

In [34]:
for values in person.values():
    print(values)

sri
25
india
False
5.7
1200

In [35]:
for key in person.keys():
    print(key)

name
age
address
ismarried
height
sallary

In [36]:
for item in person.items():
    print(item)

('name', 'sri')
('age', 25)
('address', 'india')
('ismarried', False)
('height', 5.7)
('sallary', 1200)

In [50]:
for key,value in person.items():
    print(f" (key pair values ): Value is ( value )")
    break;
#print([person.items])

 (key pair values ): Value is ( value )

In [51]:
"name" in person  #here we check the dictionary set ,in that set "name" key is available are not

True

In [52]:
'weight' in person.keys()  # in dict set  "weight" keyword is not available then execute the false

False

In [65]:
import pandas as pd
import numpy as np

In [84]:
# import pandas as pd
# import numpy as np
students={'names':['tom','tim','tin','tinku'],'grade':[4,4,5,6],'year':[2021,2022,2023,2024]}
for row in student:
    print(row)
print(students)

names
grade
year
{'names': ['tom', 'tim', 'tin', 'tinku'], 'grade': [4, 4, 5, 6], 'year': [2021, 2022, 2023, 2024]}

In [106]:
#def sample(marks):
import random as r
marks=int(input("enter the values"))
if(marks>=90):
    print("exallent")
elif(marks<90and marks>=75):
    print("very good")
elif(marks<75and marks>=60):
    print("good ")
else:
    print("avarage marks")
#sample(34)

enter the values54
avarage marks

In [107]:
print("haii hello happy new year wellcome to 2022","may this year brings everything in your life","focus on your life only what u want nd whats impotant")

haii hello happy new year wellcome to 2022 may this year brings everything in your life focus on your life only what u want nd whats impotant

In [111]:
age=int(input("enter the values"))
if(age>=75):
    print("you are eligable")
elif(age<75and age>=55):
    print("you are the enter the room")
else:
    print("you are not eligable")

enter the values55
you are the enter the room

In [112]:
a=3
while(a<5):
    a=a+1-2*9
    print(a)
    #a=a+1
    break;

-14

In [119]:
import calendar as cal
print(cal)

<module 'calendar' from 'C:\\Users\\Admin\\anaconda3\\DLLs\\mysite\\lib\\calendar.py'>

In [132]:
n=int(input("enter the number of rows:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

enter the number of rows:2
1
2 2

In [146]:
n=int(input("enter the number of rows"))
for i in range(1,i+1):
    for j in range(0,n+0):
        print(i,end=" ")
        print(j)
    print()

enter the number of rows7
1 0
1 1
1 2
1 3
1 4
1 5
1 6

2 0
2 1
2 2
2 3
2 4
2 5
2 6

In [147]:
for i in range(1,40):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39

In [148]:
for i in range(1,20,2):#here 1-is the starting number,20 is the end number(n-1=20-1),2 is the difference of the number
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [149]:
for i in range(0,40,2):
    print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38

In [150]:
for i in range(-20,0):
    print(i,end=" ")

-20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [154]:
l=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i,j in zip(range(0,20,2),range(-5,10)):
    print(l[i],l[j])

0 16
2 17
4 18
6 19
8 20
10 0
12 1
14 2
16 3
18 4

In [155]:
#l=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in zip(range(0,20,2),range(-5,10)):
    print(i)

(0, -5)
(2, -4)
(4, -3)
(6, -2)
(8, -1)
(10, 0)
(12, 1)
(14, 2)
(16, 3)
(18, 4)

In [156]:
#for i in range(n+1,-1,-1):
#    print("@"*i)
for i in range(0,6+1):
    print("*"*i)

*
**
***
****
*****
******

In [157]:
for i in range(1,6):
    for j in range(5,i-1,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [158]:
for i in range(1,8):
    for j in range(0,i+1):
        print(j,end=" ")
    print()

0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7

In [159]:
for i in range(1,9):
    for j in range(3,i+30):
        print(j,end=" ")
    print()

3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31
3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32
3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34
3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36
3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37

In [160]:
for i in range(1,9):
    for j in range(30,i-10,-2):
        print(j,end=" ")
    print()

30 28 26 24 22 20 18 16 14 12 10 8 6 4 2 0 -2 -4 -6 -8
30 28 26 24 22 20 18 16 14 12 10 8 6 4 2 0 -2 -4 -6
30 28 26 24 22 20 18 16 14 12 10 8 6 4 2 0 -2 -4 -6
30 28 26 24 22 20 18 16 14 12 10 8 6 4 2 0 -2 -4
30 28 26 24 22 20 18 16 14 12 10 8 6 4 2 0 -2 -4
30 28 26 24 22 20 18 16 14 12 10 8 6 4 2 0 -2
30 28 26 24 22 20 18 16 14 12 10 8 6 4 2 0 -2
30 28 26 24 22 20 18 16 14 12 10 8 6 4 2 0

In [161]:
for i in range(1,9):
    for j in range(30,i-10,-1):
        print(j,end=" ")
    print()

30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3 -4 -5 -6 -7 -8
30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3 -4 -5 -6 -7
30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3 -4 -5 -6
30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3 -4 -5
30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3 -4
30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3
30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 -1 -2
30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 -1

In [163]:
row =int(input("enter the number of rows required:"))
for i in range(row):
    for j in range(row-i):
        print(' ',end=' ')#printing space required and staying in same line
        
    for j in range(2*i+1):
        if j==2*i:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()#printing a new line

enter the number of rows required:5
          *
            *
              *
                *
                  *

In [180]:
def sam(text):
    def fun(sam):
        return sam
    return text
sam("Data Science")

'Data Science'

In [184]:
sam("hii")

'hii'

In [185]:
def random():
    return x+1
def texts():
    return x-3
def operator(func,x):
    print("it is true:")
   # temp=func(x)
   # return temp
print(operator(texts,36))
print(operator(random,56))

it is true:
None
it is true:
None

In [186]:
def fun():
    print("the statement")
    def fun1():
        print("the derived class:")
    def fun2():
        print("the base class:")
   # fun1()
    fun2()
fun()

the statement
the base class:

In [187]:
def sam():
    a=4
    b=a
    print(id(a))
    print(id(b))
                          #reassined value of a
    a=500                     #id()function it returned the same number
    print(id(a))
sam()

2205591955856
2205591955856
2205711189584

In [188]:
name="Shirisha"
age=22
grade=94
passed=2020
ismarried="no"
print(name,age,grade,passed,ismarried, )
print(name)

Shirisha 22 94 2020 no
Shirisha

In [189]:
name="A"
naMe="B"
NAME="C"
_name="D"
n_a_m_e="E"
name_="F"
_NAME_="G"
_name_="H"
_na58me_="I"
nAnMe="j"
print(name,naMe,NAME,_name,n_a_m_e,name_,_NAME_,_name_,_na58me_,nAnMe)

A B C D E F G H I j

In [190]:
a=10
b=30
def fun():
    #a=10
    #b=20
    c=a+b
    print("the sum of number:",c)
fun()
print(a,b)

the sum of number: 40
10 30

In [191]:
x=20; #globle variable 
def sample_f():  # here we define a funnction, no parameter here
    x=40; #local variable
    return x; # return a something
#print(sample_f())#calling the function or invoke the function


def sample_1():   #no parameters here
    return "hii want to do..."
#print(sample_1())
'''no function gets calling a function
until the user  invoke the function eplicitly '''

def sample_2(x,y):#here we are explicitly  two parameter ,its also called local 
    return x,y;# we return the x and y values.here not same as sample_1() x,y

def sample_3(x,y):# define a function or function statement  or here the 2 parameters
    x=543;
    y=234;#local variables
    return x,y; #return the parameter
#print(sample_3(45,65)) # here passed the arguments or we suppose to 2 arguments

#1.
#positional arguments and keyword arguments

def sample_4(x,y):# here two parameters 
    print("i have two variables:")
    return x,y;
print(sample_4(32,11))

def sample_5(x,y,z=13):  #here two parameters,one key word arguments.parameter can followed by keyarguments
    print("heyyy we want ...") # print something 
    return x,y,z;           # returning the parameters 
sample_5(2,3,45) # calling the  function or invoke the function
#print(sample_5(2,3,45)) here we have return the values i.e we want to returned values so we have to print( )function
#3.
# the  arbitory arguments 
def sample_d(x,*s): # here we use one positional arguments andanether one *s is the arbitary argument that as to assign
           #-values only one variable like s=1,2,3,4,5,6,7,... in a list formate.x=1 .
    return x,s;# return the value in the formate of x,s
#sample_d(1,2,3,4,5,6,7,8,91,2,3,4,5,6)
# we can also write print(sample_d(1,2,3,4,5,6,7,8,91,2,3,4,5,6))i.e here in side the function the block of code to be 
#-executed thats y we are using the print(func()) 
    
    
    
def dictionary_form_of_data(s1,s2,**x):#here we use the arbitary arguments.we have execute in the form of dictionary 
      #-formate ,we have to do **a variable or any letter.
    return x,s1,s2; # here returned the variables 
dictionary_form_of_data("pyton","datascience",x=22,y=33,z=44,acb=455,abc=34.5)# here the o/p in dictionary formate

i have two variables:
(32, 11)
heyyy we want ...

({'x': 22, 'y': 33, 'z': 44, 'acb': 455, 'abc': 34.5}, 'pyton', 'datascience')

In [192]:
def samples_sd(s,s2,**x):# here the positional argument and arbitary arguments  are followed
    return s,s2,x; # to return the  values formate 
print(samples_sd("python","datascience", x=4,y=6,z=56,abc=43.3))# to calling the function in side the print function

('python', 'datascience', {'x': 4, 'y': 6, 'z': 56, 'abc': 43.3})

In [193]:
Aspan_of_life_d=":To create our world ,enjoy the life,joy of giving and pleasure loving:"
class my_little_world:
    print("my lovely family:")
    def my_devil(self):
        print("devil in my life:")
        self.x="devil is bestie"
        return "best enemy"
    def meri_chintu(self):
        print("siri is the rishi")
        self.y=68;
        return "you are the winner"
    def brother_p(self):
        print("he is the back bone of my family")
        self.css=" he is the only goy"
        return "hii bro"
    def father_my_mom(self):
        print("she is the god gift to my family ")
        self.nsd="love u mom"
        return "hhey u are my little world"
my_little_world()
print(Aspan_of_life_d)
print(".=========================================================================.")
q=my_little_world()
print(q.my_devil())
print(q.x)
print("====================")
print(q.meri_chintu())
print(q.y)
print('====================')
print(q.brother_p())
print(q.css)
print("=====================")
print(q.father_my_mom())
print(q.nsd)

my lovely family:
:To create our world ,enjoy the life,joy of giving and pleasure loving:
.=========================================================================.
devil in my life:
best enemy
devil is bestie
====================
siri is the rishi
you are the winner
68
====================
he is the back bone of my family
hii bro
 he is the only goy
=====================
she is the god gift to my family
hhey u are my little world
love u mom

In [194]:
x=10;
def perform(x,y):
    return x**2,y**3;
class Test:
    static_x=25;
    def test_statistic():
        return "test_static"
    def test_instance(self):
        self.instance_x=353;
        return "test_instance"
if __name__=="__main__":
    print(x)
    print(perform(2,3))
    print(Test.static_x)
    #print(Test.test-statistic())
    z=Test()
    print(z.test_instance())
    print(z.instance_x)

10
(4, 27)
25
test_instance
353

In [195]:
sample=[1,2,3,4]
for i in range(0,len(sample)):
    print(i**3)

0
1
8
27

In [196]:
sam=[12,34,35,45,46]
[i**3 for i in sam]

[1728, 39304, 42875, 91125, 97336]

In [197]:
x=234534;
class vehicils:
    print("i want to explains the how to work a car:")
    def engine(self):
        self.b ="to start the machine"
        return "its my bike"
    def accelaration(self):
        self.h=234;
        return "its work on "
    def gear(self):
        self.g="i can ride the bike"
        return "it is the very excellent"
    def breack(self):
        self.k=563;
        return "its work automatically"
vehicils()
print(x)
h=vehicils()
print(h.engine())
print(h.b)
print(h.accelaration()) #vehicils object has no attribute 'accelaration'
print(h.h)
print(h.breack())
print(h.k)

i want to explains the how to work a car:
234534
its my bike
to start the machine
its work on
234
its work automatically
563

In [221]:
class samp:
    x=54; #satatic varible 
    print("hii")
def fanfg(self): #instance variable
    self.h=345;
    return 'helo' # here we write the inside the function we write the return keyword
def fans(): # static varible
    self.h=65;
    return 'sri'
samp()
j=samp()
print(j.x)

hii
54

In [222]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [223]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [224]:
#print style formatting data
print("sales %5s, Total- %.2f"%("1332",4.34543))

sales  1332, Total- 4.35

In [225]:
print("salary %5s,Total_salary:-%6d"%("2345",3456))

salary  2345,Total_salary:-  3456

In [226]:
print("intrest %2s; Rate_of_intrest:- %.3f; Total_amount_is:-%9s"%("20,000",3.5000,"60,000000"))         #unexpected EOF while parsing means to check the paranthasis

intrest 20,000; Rate_of_intrest:- 3.500; Total_amount_is:-60,000000

In [227]:
print("sales :{0:d}, Total :{1:9.2f}".format(12323,00.546))  #padding spaces before for an integer(d)

sales :12323, Total :     0.55

In [228]:
print("what shirishastupid fellow nd ------- fellow ntra assal m  ")

what shirishastupid fellow nd ------- fellow ntra assal m

In [229]:
def text(letters):
    string=''
    for i in letters:
        if i =='.':
            string +='.'
        else:
            string +=i;
    return string;
print(text("asdfjkl"))

asdfjkl

In [230]:
def hii():
    print("hii whereyou")
                     # every function by default it takes return. here we are write

In [231]:
print(hii())  # here we write the inside the  print() we are calling the function i.e hii() that y the  execution of program is none.
               # the calling the function  is execute the print statement,after that every function as default it takes "return",  print()  we are use thats y o/p is none

hii whereyou
None

In [232]:
def heyy():
    return "how are u";
heyy()

'how are u'

In [233]:
def heyy():
    print("how are u");
print(heyy())

how are u
None

In [234]:
def fun(word):
    string=''
    for i in word:
        if i==' ':
            string +='.'
        else:
            string=string +i
    return string
print(fun("i want to explain"))

i.want.to.explain

In [235]:
def samp(sample):
    str=''
    for i in sample:
        if i==' ':
            str +='@#$ab%^&*'
        else:
            str=str+i
    return str;
samp("siri")
print(samp("siri  hii"))

siri@#$ab%^&*@#$ab%^&*hii

In [236]:
print("taxes %5s, budget:- %2d"%("10,0000",6000000))
print("income_services: %9s, Total_amount:= %3d"%("23,45556",657875))

taxes 10,0000, budget:- 6000000
income_services:  23,45556, Total_amount:= 657875

In [237]:
class samp:
    def __init__(self):
        self.x=23;
        print( "this is the constructor")  # we dont use return statement inside the constructor
d=samp()
print(d.x)

this is the constructor
23

In [242]:
text="the coding language"
def func():
    dfg=''
    for i in text:
        if i=='a':
            dfg+='^&'
        else:
            dfg=dfg+i
    return dfg;
func()

'the coding l^&ngu^&ge'

In [41]:
def number(n,m):
    for i in range(1,11):
        print(n,"x",i,"=",n*i,m*i)
        
number(10,5)

10 x 1 = 10 5
10 x 2 = 20 10
10 x 3 = 30 15
10 x 4 = 40 20
10 x 5 = 50 25
10 x 6 = 60 30
10 x 7 = 70 35
10 x 8 = 80 40
10 x 9 = 90 45
10 x 10 = 100 50

In [1]:
# 3.write a program  to extract each digit from an integer in the reverse order
'''for example 2456 is 6 5 4 2'''
lists="123456"
for i in range(len(lists)-0):
    print(lists[i],end=" ")
    print("===============================")
    for i in range(len(lists)-2):
        print(lists[i],end=" ")
        print("=++++++++++++++++++++++++++++++")
        
print()

1 ===============================
1 =++++++++++++++++++++++++++++++
2 =++++++++++++++++++++++++++++++
3 =++++++++++++++++++++++++++++++
4 =++++++++++++++++++++++++++++++
2 ===============================
1 =++++++++++++++++++++++++++++++
2 =++++++++++++++++++++++++++++++
3 =++++++++++++++++++++++++++++++
4 =++++++++++++++++++++++++++++++
3 ===============================
1 =++++++++++++++++++++++++++++++
2 =++++++++++++++++++++++++++++++
3 =++++++++++++++++++++++++++++++
4 =++++++++++++++++++++++++++++++
4 ===============================
1 =++++++++++++++++++++++++++++++
2 =++++++++++++++++++++++++++++++
3 =++++++++++++++++++++++++++++++
4 =++++++++++++++++++++++++++++++
5 ===============================
1 =++++++++++++++++++++++++++++++
2 =++++++++++++++++++++++++++++++
3 =++++++++++++++++++++++++++++++
4 =++++++++++++++++++++++++++++++
6 ===============================
1 =++++++++++++++++++++++++++++++
2 =++++++++++++++++++++++++++++++
3 =++++++++++++++++++++++++++++++
4 =++++++++++++++++++++++++++++++

In [2]:
listd="7123498765"
for i in range(len(listd)-1,-8,-3):  # startting,steps,difference
    print(listd[i],end=" ")
print()

5 8 3 7 7 4

In [42]:
def s(sample):
    for i in range(len(sample)-1,-8,-3):  # startting,steps,difference
        return sample[::-1]
print(s("1234"))

4321

In [3]:
def fun():
    print("hiii")
    list="1234"
    for each in range(len(list)-1,-1,-1):
        for each in list:
            each=each+" "
       # print(list[each],end=" ")
    return list[::-1]
        
fun()

hiii

'4321'

In [4]:
#3.write a program  to extract each digit from an integer in the reverse order
'''for example 2456 is 6 5 4 2'''
def fun(sample):
    #x="12345"
    return (" ".join(sample[::-1]))
    
print(fun("2341"))

1 4 3 2

In [ ]:
'''write a program which will find all numbers which are divisible by 7 but are not a multiple of 5 b/w 2000 and 3200
(both included) the numbers obtained should be a printed in a comma-separeted sequence on a single line

'''
def func(values,var):
    for value in range(0,len(func(2000,3200))):
        if value%7: #and value%!5:
            int(value[","])
        return "the values"
print(func(2000,3200))

# function

#function is used to any particular task are perform a block of code.
'''
"function to reuse that particular function many times".
function is block of code i.e to  (many)one or more are statements are  any task/calculation/operation can do i.e function.
why we use function -when we are creating a function.the function is created once, if any where we want that data then we use the function.the coding is less ,,the code reusabily.
'''

In [83]:
def adding_num(x,y):
    s=x+y; 
    return s,x^2,x*y*5,x//y,x/y,x^y
adding_num(2,6)
#adding_num(1099,234)

(8, 0, 60, 0, 0.3333333333333333, 4)

In [101]:
def tables(var):
    for j in range(0,3):
        for s in range(0,6+j):
            print(s)
            print("---------")
        print(j)
        print("=====")
    return j,"x",i,"=",j*1

print("aaaaaaaaaaaaaaaaaaaa")
tables(5)

aaaaaaaaaaaaaaaaaaaa
0
---------
1
---------
2
---------
3
---------
4
---------
5
---------
0
=====
0
---------
1
---------
2
---------
3
---------
4
---------
5
---------
6
---------
1
=====
0
---------
1
---------
2
---------
3
---------
4
---------
5
---------
6
---------
7
---------
2
=====

(2, 'x', 1, '=', 2)

In [127]:
def table_s(n):
    for i in range(0,10):
        for j in range(2,3+i):
            for z in range(3,5+j):
                print(z)
                print(".............")
            print(" ", 2*j-3)
        return j,"x",j,"=",j*2  #,i*2+i*5
    print(i)
table_s(5)

3
.............
4
.............
5
.............
6
.............
  1

(2, 'x', 2, '=', 4)

In [25]:
def variables():
    for i in range(1,11):
        print(" ")
        for j in range (1,10):
            #print(" ")
    
             return i,"x",j,"=",i*j
variables()

(1, 'x', 1, '=', 1)

In [142]:
for i in range(0,5):
    for j in range(0,2*2+i):
        print(i,j)
    print("*")
    print(i)

0 0
0 1
0 2
0 3
*
0
1 0
1 1
1 2
1 3
1 4
*
1
2 0
2 1
2 2
2 3
2 4
2 5
*
2
3 0
3 1
3 2
3 3
3 4
3 5
3 6
*
3
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
*
4

In [152]:
for i in range (0,5):  # here we are taking the 5 values of the v
    for j in range(0,9): # here''' , ,tabspace'''
        print(" ",end="") # here takeing the tabespaces
    print("@")

         @
         @
         @
         @
         @

In [182]:
for i in range (0,10):
    for j in range(0,3+i-i-j):     #4-i,3):
        print(" ",end="")
    for z in range(1,2):   # ,
        print("2",end="")
    print("")

 2
   2
 2
   2
 2
   2
 2
   2
 2
   2

In [217]:
for i in range (0,10):
    for j in range(0,2*3-i):     #4-i,3):
        print(" ",end="")
    for z in range(1,8*i-5+j):   # ,
        print("2",end="")
    print("")

     222222
    2222222222222
   22222222222222222222
  222222222222222222222222222
 2222222222222222222222222222222222
222222222222222222222222222222222222222222
22222222222222222222222222222222222222222222222222
2222222222222222222222222222222222222222222222222222222222
222222222222222222222222222222222222222222222222222222222222222222

In [218]:
for i in range (0,10):
    for j in range(0,10-i):     #4-i,3):
        print(" ",end="")
    for z in range(0,2*i+1):   # ,the values 2 is terurn as one value and 3 is return value is 2....etc.
        print("2",end="")
    print("")

          2
         222
        22222
       2222222
      222222222
     22222222222
    2222222222222
   222222222222222
  22222222222222222
 2222222222222222222

In [227]:
for i in range(0,5):
    for j in range(0,4-i):
        print(" ",end="")
    for s in range(0,5*i+1):
        print("@",end="")
    print("")

    @
   @@@@@@
  @@@@@@@@@@@
 @@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@